@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.grid-container {
  width: 90vw;  /* Use viewport width for responsive sizing */
  max-width: 450px;  /* Maximum size for large screens */
  height: 90vw;  /* To ensure it's a square */
  max-height: 450px;
}

.mobile{
  font-size: 14px;
}

@media (max-width: 500px) {
  .mobile{
    font-size: 10px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.square {
  width: 100%;
  aspect-ratio: 1;  /* Maintains square aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* Keeps contents within square bounds */
  text-overflow: ellipsis;  /* Useful for truncating overflowing text */
  white-space: nowrap;  /* Ensures text doesn't wrap */
  text-align: right;
  border-radius: 1em;
}

.title-square{
  width: 100%;
  aspect-ratio: 1;  /* Maintains square aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;  /* Keeps contents within square bounds */
  text-align: center;
  box-sizing: border-box;
  border-radius: 1em;
}

.guess:hover{
  background: #fff;
}

/* Adjust font size based on viewport width for added responsiveness */
.square img {
  max-width: 100%;  /* Ensure images don't overflow */
  max-height: 100%;
}
